header {
  .search-zone {
    position: relative;
  }

  .search-button {
    position: absolute;
    right: 0;
    height: 85px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;

    &:hover {
      text-decoration: none;
    }
  }

  .search-link {
    padding: 0.6rem 3rem;
    border: 1px solid $red;
    border-radius: 1rem;
    &:hover {
      background-color: $red;
      color: #fff;
    }
  }
}