
.post{
  background-color: $white;
  clear: both;
  overflow: hidden;
  margin-bottom: 2rem;
}

.post-list {
  .button {
    margin-bottom: 2rem;
    text-align: center;
    button {
      background-color: $red;
      color: #fff;
      transition: background-color 0.1s;  
      border: 0;
      border-radius: 1rem;
      padding: 0.6rem 3rem; 
    }
  }
}

.post-list h1, .post-view h1 {
  font-weight: 800;
  font-size: 4.0rem;
}

.form-post {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 2rem;
  border: 1px solid #CCC;

  .close-button {
    margin-right: -0.1rem;
    margin-bottom: 1rem;    
    text-align: right;
    font-size: 2rem;
    cursor: pointer;
  }
    ::-webkit-input-placeholder {
       color: #888;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #888;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #888;  
    }

    :-ms-input-placeholder {  
       color: #888;  
    }

  input, textarea {
    border-radius: 3px;
    font-family: $title-font;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    height: 3rem;
    border:0;
    padding: 0 0.5rem;
  }
  textarea {
    padding: 0.5rem;
    height: 5rem;
    max-width: 100%;
  }

  input[type=submit] {
    border: 1px solid $red;
    border-radius: 2rem;
    background: transparent;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    &:hover {
      background-color: $red;
      color: #fff;
      transition: background-color 0.1s;
    }
  }

}

.header_rubrique{
  margin: 30px 10px;
  text-align: center;
  h1 {
    margin-bottom: 2rem;
  }
}

.title_rubrique{
  text-transform: uppercase;
  color: $red;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 20px;
}

.post .title_post{
  margin-top: 40px;
  margin-bottom: 40px;
}

.post .titre{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 800;
  text-transform: uppercase;
}

.post .img{
  height: 100%;
  box-sizing: border-box;
  padding: 2.6rem;
}

.post img{
  width:100%;
  float: left;
  display: block;
  box-sizing: border-box;

}

.button_post{
  margin: 10px 10px 30px 10px;
  text-align: center;
}

.button_post button{
  background-color: $red;
  text-align: center;
  border-radius: 50px;
  border: 1px solid $red;
  padding:10px 40px;
  flex-flow: row wrap;
}

.button_post button:hover{
  background-color: $red;
  color: $white;
}

.button_post button span{
  color: $white;
  font-size: 18px;
}

.button_post button:hover span{
  color: $white;
  font-size: 18px;
}

.post .text{
  line-height: 25px;
  font-size: 0.9rem;
  letter-spacing: 0.11rem;
}

.post .date, .post .text{
  margin: 20px 0px;
}

.post .date span{
  color: $red;
  font-size: 18px;
  font-weight: 300;
}

.post .info{
  padding: 0 2.6rem;
}

.post .nb_likes{
  background-color: $clear_grey;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 2px;
  color: $red;
  display: inline-block;
}


.tag{
  text-decoration: none;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  background-color: transparent;
  text-align: center;
  border-radius: 50px;
  border: 1px solid $red;
  padding:10px 40px;
  display: inline-block;
  margin:20px 10px 20px 0px;

  span{
    color: $red;
  }

}

.post-view {
  .post {
    background: transparent;

    .text {
      box-sizing: border-box;
      padding-top: 2.6rem;
      margin: 0;
    }

    .img {
      padding-top: 2.6rem;
    }
    .info {
      padding: 0;
    }
  }

   .comments{
    .title-rubrique-com{
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 800;
      padding:20px 0px;
    }

    .line{
      height:1px;
      background-color: $red;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .comment{
    margin: 2rem 0;
    background-color: $white;
    padding:1.5rem;

    .info{
      margin-bottom: 15px;
    }

    .date{
      color: $red;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .author{
      color: $red;
      font-weight: 600;
      text-transform: uppercase;
    }

    .text{
      line-height: 25px;
      letter-spacing: 1px;
      font-size: 1rem;
      padding-top: 0;
    }
  }


  .sub-comments {
    margin-left: 5rem;
  }
}

@media (max-width: 992px) {
  
  .comments{
    .title-rubrique-com{
      text-align: center;
    }

    .line{
      width: 90%;
    }
  }
  .post .info{
    text-align: center;
    padding: 0px 30px 30px 30px;
  }

  .post img
  {
    margin-bottom: 20px;
  }

  .post .date, .post .text{
    margin: 5px 0px;
  }

  .button_post{
    margin: 0px 10px 30px 10px;
    text-align: center;
  }

}

@media (max-width: 768px) {
  .post .info{
    text-align: center;
    padding: 0px 30px 30px 30px;
    margin: 0px 20px;
  }
}
