.modal-bg {
  left: 0;
  z-index: 9000;
  position: fixed;
  background: rgba(128, 128, 128, 0.7);
  width: 100%;
  height: 100%;
}

.search {
  position: fixed;
  z-index: 9001;
  background-color: #FFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 90%;
  padding:20px;

  h1 {
    font-size: 4.0rem;
    font-weight: 800;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .results {
    overflow-y: scroll;
    max-height: 59vh;

    h3 {
      font-size: 1.4rem;
      font-weight: 800;
    }
  }

  input {
    width: 60%;
    height: 3.5rem;
  }
}
.search-post {
  margin-bottom: 2rem;
  cursor: pointer;
}