html {
  font-size: 67.5%; }

* {
  font-family: "Open Sans", sans-serif; }

body {
  background: #f3f3f3; }

@media (max-width: 992px) {
  header {
    text-align: center; } }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.post {
  background-color: #fff;
  clear: both;
  overflow: hidden;
  margin-bottom: 2rem; }

.header_rubrique {
  margin: 30px 10px;
  text-align: center; }

.title_rubrique {
  text-transform: uppercase;
  color: #e74c3c;
  letter-spacing: 5px;
  font-weight: 800;
  font-size: 20px; }

.post .title_post {
  margin-top: 40px;
  margin-bottom: 40px; }

.post .titre {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 800;
  text-transform: uppercase; }

.post .img {
  height: 100%;
  box-sizing: border-box;
  padding: 2.6rem; }

.post img {
  width: 100%;
  float: left;
  display: block;
  box-sizing: border-box; }

.button_post {
  margin: 10px 10px 30px 10px;
  text-align: center; }

.button_post button {
  background-color: #fff;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #e74c3c;
  padding: 10px 40px;
  flex-flow: row wrap; }

.button_post button:hover {
  background-color: #e74c3c;
  color: #fff; }

.button_post button span {
  color: #e74c3c;
  font-size: 18px; }

.button_post button:hover span {
  color: #fff;
  font-size: 18px; }

.post .text {
  line-height: 25px;
  letter-spacing: 1px; }

.post .date, .post .text {
  margin: 20px 0px; }

.post .date span {
  color: #e74c3c;
  font-size: 18px;
  font-weight: 300; }

.post .info {
  padding: 0 2.6rem; }

.post .nb_likes {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #e74c3c;
  display: inline-block; }

@media (max-width: 992px) {
  .post .info {
    text-align: center;
    padding: 30px; }

  .post .date, .post .text {
    margin: 5px 0px; } }
.home .info {
  text-align: center; }
  .home .info h1 {
    font-size: 4.8rem;
    font-weight: 800;
    letter-spacing: 0.1em; }
  .home .info h2 {
    font-size: 2rem; }

.red {
  color: #e74c3c; }

.stats {
  display: flex;
  align-items: center;
  color: #fff;
  background: #e74c3c;
  height: 10rem;
  text-align: center;
  margin-bottom: 2rem; }
  .stats span.number {
    font-weight: 800;
    display: block;
    font-size: 3.6rem; }

.topic-list {
  text-align: center; }
  .topic-list .topic-link {
    letter-spacing: 0.1rem;
    color: #000;
    display: inline-block;
    border: 1px solid #e74c3c;
    width: 90%;
    padding: 0.8rem;
    border-radius: 2rem;
    margin-bottom: 3rem; }
    .topic-list .topic-link:hover {
      background-color: #e74c3c;
      color: #fff; }

/*# sourceMappingURL=style.css.map */
