@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
html {
  font-size: 67.5%; }

* {
  font-family: "Open Sans", sans-serif; }

body {
  background: #f3f3f3; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.post {
  background-color: #fff;
  clear: both;
  overflow: hidden;
  margin-bottom: 2rem; }

.post-list .button {
  margin-bottom: 2rem;
  text-align: center; }
  .post-list .button button {
    background-color: #e74c3c;
    color: #fff;
    transition: background-color 0.1s;
    border: 0;
    border-radius: 1rem;
    padding: 0.6rem 3rem; }

.post-list h1, .post-view h1 {
  font-weight: 800;
  font-size: 4.0rem; }

.form-post {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 2rem;
  border: 1px solid #CCC; }
  .form-post .close-button {
    margin-right: -0.1rem;
    margin-bottom: 1rem;
    text-align: right;
    font-size: 2rem;
    cursor: pointer; }
  .form-post ::-webkit-input-placeholder {
    color: #888; }
  .form-post :-moz-placeholder {
    /* Firefox 18- */
    color: #888; }
  .form-post ::-moz-placeholder {
    /* Firefox 19+ */
    color: #888; }
  .form-post :-ms-input-placeholder {
    color: #888; }
  .form-post input, .form-post textarea {
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    height: 3rem;
    border: 0;
    padding: 0 0.5rem; }
  .form-post textarea {
    padding: 0.5rem;
    height: 5rem;
    max-width: 100%; }
  .form-post input[type=submit] {
    border: 1px solid #e74c3c;
    border-radius: 2rem;
    background: transparent;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem; }
    .form-post input[type=submit]:hover {
      background-color: #e74c3c;
      color: #fff;
      transition: background-color 0.1s; }

.header_rubrique {
  margin: 30px 10px;
  text-align: center; }
  .header_rubrique h1 {
    margin-bottom: 2rem; }

.title_rubrique {
  text-transform: uppercase;
  color: #e74c3c;
  letter-spacing: 5px;
  font-weight: 400;
  font-size: 20px; }

.post .title_post {
  margin-top: 40px;
  margin-bottom: 40px; }

.post .titre {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 800;
  text-transform: uppercase; }

.post .img {
  height: 100%;
  box-sizing: border-box;
  padding: 2.6rem; }

.post img {
  width: 100%;
  float: left;
  display: block;
  box-sizing: border-box; }

.button_post {
  margin: 10px 10px 30px 10px;
  text-align: center; }

.button_post button {
  background-color: #e74c3c;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #e74c3c;
  padding: 10px 40px;
  flex-flow: row wrap; }

.button_post button:hover {
  background-color: #e74c3c;
  color: #fff; }

.button_post button span {
  color: #fff;
  font-size: 18px; }

.button_post button:hover span {
  color: #fff;
  font-size: 18px; }

.post .text {
  line-height: 25px;
  font-size: 0.9rem;
  letter-spacing: 0.11rem; }

.post .date, .post .text {
  margin: 20px 0px; }

.post .date span {
  color: #e74c3c;
  font-size: 18px;
  font-weight: 300; }

.post .info {
  padding: 0 2.6rem; }

.post .nb_likes {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #e74c3c;
  display: inline-block; }

.tag {
  text-decoration: none;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  background-color: transparent;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #e74c3c;
  padding: 10px 40px;
  display: inline-block;
  margin: 20px 10px 20px 0px; }
  .tag span {
    color: #e74c3c; }

.post-view .post {
  background: transparent; }
  .post-view .post .text {
    box-sizing: border-box;
    padding-top: 2.6rem;
    margin: 0; }
  .post-view .post .img {
    padding-top: 2.6rem; }
  .post-view .post .info {
    padding: 0; }
.post-view .comments .title-rubrique-com {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  padding: 20px 0px; }
.post-view .comments .line {
  height: 1px;
  background-color: #e74c3c;
  width: 100%;
  margin-bottom: 20px; }
.post-view .comment {
  margin: 2rem 0;
  background-color: #fff;
  padding: 1.5rem; }
  .post-view .comment .info {
    margin-bottom: 15px; }
  .post-view .comment .date {
    color: #e74c3c;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .post-view .comment .author {
    color: #e74c3c;
    font-weight: 600;
    text-transform: uppercase; }
  .post-view .comment .text {
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 1rem;
    padding-top: 0; }
.post-view .sub-comments {
  margin-left: 5rem; }

@media (max-width: 992px) {
  .comments .title-rubrique-com {
    text-align: center; }
  .comments .line {
    width: 90%; }

  .post .info {
    text-align: center;
    padding: 0px 30px 30px 30px; }

  .post img {
    margin-bottom: 20px; }

  .post .date, .post .text {
    margin: 5px 0px; }

  .button_post {
    margin: 0px 10px 30px 10px;
    text-align: center; } }
@media (max-width: 768px) {
  .post .info {
    text-align: center;
    padding: 0px 30px 30px 30px;
    margin: 0px 20px; } }
.home {
  margin-bottom: 6rem; }

.home .info {
  padding: 5rem;
  text-align: center; }
  .home .info h1 {
    font-size: 3.2rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    margin-bottom: 2rem; }
  .home .info h2 {
    font-size: 1.3rem; }
  .home .info img {
    margin-bottom: 2rem;
    max-width: 180px; }

.home .sujets {
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0 5rem 0;
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 0.1rem; }

.red {
  color: #e74c3c; }

.stats {
  display: flex;
  align-items: center;
  color: #fff;
  background: #e74c3c;
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 800;
  font-size: 1.1rem; }
  .stats span.number {
    font-weight: 800;
    display: block;
    font-size: 3.6rem;
    margin-bottom: 0.5rem; }
  .stats .col-sm-4 {
    margin: 2rem 0rem; }

.topic-list {
  text-align: center; }
  .topic-list .topic-link {
    letter-spacing: 0.1rem;
    color: #000;
    display: inline-block;
    border: 1px solid #e74c3c;
    width: 90%;
    padding: 0.8rem;
    border-radius: 2rem;
    margin-bottom: 3rem; }
    .topic-list .topic-link:hover {
      background-color: #e74c3c;
      color: #fff;
      text-decoration: none;
      transition: background-color 0.2s; }

header .search-zone {
  position: relative; }
header .search-button {
  position: absolute;
  right: 0;
  height: 85px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black; }
  header .search-button:hover {
    text-decoration: none; }
header .search-link {
  padding: 0.6rem 3rem;
  border: 1px solid #e74c3c;
  border-radius: 1rem; }
  header .search-link:hover {
    background-color: #e74c3c;
    color: #fff; }

.modal-bg {
  left: 0;
  z-index: 9000;
  position: fixed;
  background: rgba(128, 128, 128, 0.7);
  width: 100%;
  height: 100%; }

.search {
  position: fixed;
  z-index: 9001;
  background-color: #FFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 90%;
  padding: 20px; }
  .search h1 {
    font-size: 4.0rem;
    font-weight: 800; }
  .search h3 {
    margin-bottom: 1rem; }
  .search .results h3 {
    font-size: 1.4rem;
    font-weight: 800; }
  .search input {
    width: 60%;
    height: 3.5rem; }

.search-post {
  margin-bottom: 2rem;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
